* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #ccacff;
      color: #333;
    }

   nav{
      background-color: #ffffff;
      padding: 20px 40px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
 
.navbar{
  display: flex;
  justify-content: center;
  gap: 30px;
  }


.navbar a{
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 8px;
  transition: all 0.3s ease;
  }
 
.navbar a:hover{
      background-color: #ccacff;
      color: white;
      transform: translateY(-2px);
      box-shadow: 0 4px 12px #ccacff;
    }

    .container {
      padding: 40px 20px;
      max-width: 1200px;
      margin: auto;
    }

    .container h2{
      color: white ;
    }

    .products {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 30px;
    }

    .product-card {
      background-color: white;
      border-radius: 16px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      transition: transform 0.3s;
      position: relative;
    }

    .product-card:hover {
      transform: translateY(-5px);
    }

    .product-card img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    .product-info {
      padding: 20px;
    }

    .product-info h3 {
      margin-bottom: 10px;
      font-size: 1.2rem;
      color: #6c5ce7;
    }

    .product-info p {
      font-size: 0.95rem;
      color: #666;
      margin-bottom: 10px;
    }

    .price {
      font-size: 1rem;
      font-weight: bold;
      color: #2d3436;
      margin-bottom: 15px;
    }

    .actions {
      display: flex;
      justify-content: space-between;
    }

    .btn {
      background-color: #6c5ce7;
      color: white;
      border: none;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-size: 1.2rem;
      transition: 0.3s;
    }

    .btn:hover {
      background-color: #a29bfe;
    }

    .btn.fav.active {
      background-color: #ff6b81;
    }

