* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f4f8;
}
 
nav{
  background-color: #ffffff;
  padding: 20px 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
 
.navbar{
  display: flex;
  justify-content: center;
  gap: 30px;
}
 
.navbar a{
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 8px;
  transition: all 0.3s ease;
}
 
.navbar a:hover{
  background-color: #ccacff;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px #ccacff;
}

div.container img{
  display: flexbox;
  position: center;
}

div.cotainer h1{
  padding: 10px;
  margin: 10px;
}

.row {
  display: flex;
  align-items: center; 
  justify-content: center;
}

nav.colum{
  background-color: #cd9fff;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background-color: #fff7ff;
  color: #333;
}

.imagenes {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.cuadro {
  width: 250px;
  padding: 15px;
  background-color: #e0b6ff;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.cuadro:hover {
    transform: scale(1.05);
}

.cuadro img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.cuadro p {
  font-size: 1.2rem;
  color: #000000;
  margin-top: 10px;
  font-weight: bold;
}

.hero {
  text-align: center;
  padding: 50px;
  background-color: #ffffff;
}

.hero h2 {
  font-size: 2.5rem;
  color: #cd9fff;
}

.hero p {
  font-size: 1.2rem;
  color: #333;
}

.footer {
  background-color: #cd9fff;
  color: #000000;
  padding: 30px 20px;
  text-align: center;
  margin-top: 50px;
}

.footer-content h2 {
  font-size: 24px;
  margin-bottom: 15px;
}


.banner {
  background-color: #E0B6FF;
  color: #2C2F35;
  padding: 60px 20px;
}

.banner h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
}

.banner-img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .banner h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .banner {
    padding: 40px 15px;
  }

  .banner-img {
    width: 90%;
  }
}


@media (max-width: 480px) {
  .banner h1 {
    font-size: 1.2rem;
    line-height: 1.3;
    padding: 0 10px;
  }

  .banner-img {
    width: 100%;
    margin-top: 20px;
  }
}